[Unit]
Description=Messaging Script
After=network.target

[Service]
Type=simple
ExecStart=/home/vboxuser/Desktop/start-messenger.sh
WorkingDirectory=/home/vboxuser/Desktop
Restart=on-failure
User=vboxuser
Group=vboxuser

[Install]
WantedBy=multi-user.target
